h1 {

    text-align: center;
    color: rgb(72,169,166);
    font-style: Lucida;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

body {

    background-color: rgb(1, 41, 95);
    font-style: Lucida;
    font-size: 20px;
    display: flex;
    flex-direction: column; /* Ensures elements are stacked vertically */
    align-items: center;
   
}

.navbar { 

    font-style: Lucida;
    color: rgb(72,169,166);
    display: flex;
    justify-content: center;
    padding: 10px 0;
    gap: 20px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

}

.navbar:visited {

    color: rgb(72,169,166);
    display: flex;
    justify-content: center;
    padding: 10px 0;
    gap: 20px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

}

.navbar-box {

    background-color: rgb(49,133,252);
    padding: 10px; /* Padding around navbar */
    border: 3px solid rgb(1, 41, 95);
    border-radius: 10px; /* Rounded corners */
    width: 50%;
    top: 0;
    left: 0;
    z-index: 1000;

}

.footer {

    color: rgb(72,169,166);
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px 0;
    gap: 20px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

