/* General Styles */
body { 
    background-color: rgb(1, 41, 95);
    color: rgb(49, 133, 252); /* Unified text color */
    font-family: 'Lucida Sans', sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

/* Header */
h1 {
    margin-top: 100px;
    text-align: center;
    color: rgb(178, 136, 192); /* Unified color */
    font-family: 'Lucida Sans', sans-serif;
}

/* Navbar */
.navbar-box {
    background-color: rgb(49, 133, 252);
    padding: 10px;
    border: 3px solid rgb(1, 41, 95);
    border-radius: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navbar-link {
    color: rgb(1, 41, 95); /* Unified color */
    text-decoration: none;
}

.navbar-link:hover {
    text-decoration: underline;
}

/* Project Section */
.project {
    margin: 75px;
    background-color: rgb(1, 41, 95);
    color: rgb(49, 133, 252); /* Unified color */
    border: 5px solid rgb(49, 133, 252);
    border-radius: 25px;
    padding: 35px;

}

.project h2 {
    margin: 75px;
    text-align: center;
    color: rgb(178, 136, 192); /* Unified color */
}

.project img {
    display: block;
    margin: 20px auto;
    width: 50%;
    border-radius: 25px;
}

/* Links */
a {
    color: rgb(178, 136, 192); /* Unified color */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Footer */
.footer {
    margin-top: 50px;
    color: rgb(49, 133, 252); /* Unified color */
    padding: 20px;
    text-align: center;
    border-top: 3px solid rgb(1, 41, 95);
}

.footer a {
    color: rgb(49, 133, 252
    ); /* Unified color */
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

